﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var testString = Model.Value<string>("test");
    var nestedContents = Model.Value<IEnumerable<IPublishedElement>>("elements");
}

<h1>Sprawdzamy test</h1>
@testString

@foreach (var item in nestedContents)
{
    try
    {
        @Html.Partial($"Partials/NestedContent/{item.ContentType.Alias}", item);
    }
    catch (Exception e)
    {
       
    }
}